<div class="container">
  <div class="row">
    <div class="col-8">
      <app-intro></app-intro>
      <section class="card mt-3 p-3">
        <div>
          <div class="row">
            <div class="col-10">
              <h4>About</h4>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <div class="edit-icon">
                <i class="fas fa-pen text-primary"></i>
              </div>
            </div>
          </div>
        </div>
        <p>
          seeking for the opportunity to get Full Stack Developer position ,
          gain more experience in this field and have opportunity to travel and
          work outside.
        </p>
      </section>

      <section class="card mt-3 p-3">
        <div>
          <div class="row">
            <div class="col-12">
              <h4>Featured</h4>
            </div>
          </div>
        </div>
        <div class="p-3 m-3 featured">
          <div class="row">
            <div class="col-10">
              <div>
                Showcase your work by featuring your best posts ,documents
                ,media and websites .
              </div>
              <a href="#" class="text-primary">Add Featured</a>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <div class="edit-icon ">
                <i class="fas fa-times text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="card mt-3 p-3 dashboard">
        <div class="row">
          <div class="col-12">
            <h4>Your Dashboard</h4>
            <h6 class="text-dark">Private to you</h6>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-4 p-3 dashboard-a">
            <a href="#">
              <span class="d-block text-primary numDash">26</span>
              <span class="d-block">Who viewed your profile</span>
            </a>
          </div>
          <div class="col-4 p-3 dashboard-a">
            <a href="#">
              <span class="d-block text-primary numDash">10</span>
              <span class="d-block">Post views</span>
            </a>
          </div>
          <div class="col-4 p-3 dashboard-a">
            <a href="#">
              <span class="d-block text-primary numDash">10</span>
              <span class="d-block">Search appearances</span>
            </a>
          </div>
        </div>
      </section>

      <app-experience></app-experience>
      <app-education></app-education>
    </div>
    <div class="col-4">
      <div class="row mb-3">
        <div class="col-10 text-dec">
          <a href="#" class="text-dark">
            Add profile in another language
          </a>
        </div>
        <div class="col-2">
          <i class="far fa-question-circle text-dark"></i>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-10 text-dec">
          <a href="#" class="text-dark">
            Edit public profile & URL
          </a>
        </div>
        <div class="col-2">
          <i class="far fa-question-circle text-dark"></i>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <img
            class="adds"
            src="./assets/imgs/li_evergreen_jobs_ad_300x250_v1.jpg"
          />
        </div>
      </div>
      <div class="row mt-4">
        <h4 class="mb-3 col-12">People Also Viewed</h4>
        <div class="col-12">
          <a href="#">
            <div class="row">
              <div class="col-3 pViewed">
                <img src="./assets/imgs/mona.jpg" />
              </div>
              <div class="col-9">
                <h5>
                  Mona Mohamed <span class="deg-con text-muted">1st</span>
                </h5>
                <p class="text-dark">
                  Full Stack Developer
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12">
          <a href="#">
            <div class="row">
              <div class="col-3 pViewed">
                <img src="./assets/imgs/maryam.jpg" />
              </div>
              <div class="col-9">
                <h5>
                  Maryam Talal <span class="deg-con text-muted">1st</span>
                </h5>
                <p class="text-dark">
                  Web development and UI Intern at Information Technology
                  Institute
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12">
          <a href="#">
            <div class="row">
              <div class="col-3 pViewed">
                <img src="./assets/imgs/cady.jpg" />
              </div>
              <div class="col-9">
                <h5>Cady Emad <span class="deg-con text-muted">1st</span></h5>
                <p class="text-dark">
                  Front-End Developer
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12">
          <a href="#">
            <div class="row">
              <div class="col-3 pViewed">
                <img src="./assets/imgs/0.jpg" />
              </div>
              <div class="col-9">
                <h5>Aya Mohamed <span class="deg-con text-muted">1st</span></h5>
                <p class="text-dark">
                  Student at Information Technology Institute
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row courses mt-4">
        <h4 class="mb-3 col-12">Add new skills with these courses</h4>
        <div class="col-12">
          <a href="#">
            <div class="row">
              <div class="col-3 mt-1 pViewed-Video">
                <img src="./assets/imgs/604241-636356352958553335-16x9.jpg" />
                <div>
                  <i class="fas fa-play-circle"></i>
                </div>
              </div>
              <div class="col-9">
                <h5>
                  Learning C# Algorithms.
                </h5>
                <p class="text-dark">
                  Viewers: 38,836
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12">
          <a href="#">
            <div class="row">
              <div class="col-3 mt-1 pViewed-Video">
                <img
                  src="./assets/imgs/711812-636689667271430327_720x1280_thumb.jpg"
                />
                <div>
                  <i class="fas fa-play-circle"></i>
                </div>
              </div>
              <div class="col-9">
                <h5>
                  Paython.
                </h5>
                <p class="text-dark">
                  Viewers: 9,110
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
