<section class="card mt-3 p-3">
  <div>
    <div class="row">
      <div class="col-10">
        <h4>About</h4>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <div class="edit-icon" (click)="openForm = !openForm"
          *ngIf="+activatedRoute.snapshot.params.id === auth.getLoggedUserId() || !activatedRoute.snapshot.params.id">
          <i class="fas fa-pen text-primary"></i>
        </div>
      </div>
    </div>
  </div>
  <p>
    {{ about.summary }}
  </p>
  <span class="text-secondary" *ngIf="about.link">Link </span>
  <span class="text-primary">{{ about.link }}</span>
  <div>{{ about.media }}</div>
</section>

<app-about-form *ngIf="openForm" [about]="about" (closeForm)="closeModal()"></app-about-form>