img {
  width: 400px;
  height: 300px;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  // margin-left: 36%;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}
