<section class="card mt-3 p-3 education mb-3">
    <app-education-form *ngIf="formOpened" (closeForm)="closeModal()" [education]="selectedEducation">
    </app-education-form>
    <div>
        <div class="row">
            <div class="col-10">
                <h4>Education</h4>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <div class="edit-icon" (click)="formOpened = !formOpened">
                    <i class="fas fa-plus text-primary"></i>
                </div>
            </div>
        </div>

        <div class="ed-detail" *ngFor="let ed of education">

            <div class="row p-2">
                <div class="col-2">
                    <img [src]="ed.school.image || 'https://via.placeholder.com/64'" />
                </div>
                <div class="col-8">
                    <h4>{{ed.school.name}}</h4>
                    <p class="mb-0" *ngIf="ed.degree || ed.field || ed.grade">{{ed.degree}}<span
                            *ngIf="ed.degree && (ed.field || ed.grade)">,</span>
                        {{ed.field}}<span *ngIf="ed.field && ed.grade">,</span> {{ed.grade}}</p>
                    <p class="text-secondary mb-0" *ngIf="ed.start || ed.end">{{ed.start.year}} - {{ed.end.year}}</p>
                    <p class="text-secondary mb-0" *ngIf="ed.activities">Activities and Societies: {{ed.activities}}</p>
                    <p class="mt-2">{{ed.description}}</p>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <div class="edit-icon" (click)="editEducation(ed)">
                        <i class="fas fa-pen text-primary"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="ed-detail">
            <div class="row p-2">
                <div class="col-2">
                    <img src="./assets/imgs/itiLogo.png" />
                </div>
                <div class="col-8">
                    <h4>Information Technology Institute(ITI)</h4>
                    <p>Web and UI Development</p>
                    <p class="text-secondary">2019 - 2020</p>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <div class="edit-icon">
                        <i class="fas fa-pen text-primary"></i>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</section>