<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div
          class="cover-bg h-auto text-center"
          style="background: url(Cover.PNG) no-repeat top;background-size: 135%;"
        >
          <img
            [src]="user.image"
            class="card-img-top mt-4 rounded-circle w-25"
            alt="..."
          />
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{ user.headline }}</p>
        </div>
        <hr />
        <div class="card-body">
          <a href="#" class="d-flex justify-content-between"
            >Who viewed your profile <span class="text-info">25</span></a
          >
          <a href="#" class="d-flex justify-content-between"
            >Views of your post <span class="text-info">39</span></a
          >
        </div>
        <hr />
        <div class="card-body">
          <a href="#" class="card-link"
            ><i class="far fa-bookmark"></i> Saved Items</a
          >
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-7">
          <div class="card">
            <ul class="list-group list-group-horizontal">
              <li
                class="list-group-item flex-fill btn-link btn text-left"
                (click)="formOpened = true"
              >
                <i class="far fa-edit"></i> Start a post
              </li>
              <li
                class="list-group-item btn btn-link"
                (click)="formOpened = true"
              >
                <i class="fa fa-camera"></i>
              </li>
              <li
                class="list-group-item btn btn-link"
                (click)="formOpened = true"
              >
                <i class="fa fa-video"></i>
              </li>
              <li
                class="list-group-item btn btn-link"
                (click)="formOpened = true"
              >
                <i class="fa fa-file"></i>
              </li>
            </ul>
            <div class="card-footer">
              <a href="#" class="text-info">Write an article</a> on LinkedIn
            </div>
          </div>
          <hr />
          <app-post-form
            *ngIf="formOpened"
            (closeForm)="closeModal()"
            [user]="user"
          >
          </app-post-form>
          <div class="card mb-3" *ngFor="let post of posts">
            <div class="card-body">
              <div class="d-flex mb-2">
                <img
                  [src]="post.user?.image"
                  class="rounded-circle mr-2"
                  alt=""
                  style="width: 48px; height: 48px;"
                />
                <div>
                  <p class="mb-0">{{ post.user.name }}</p>
                  <p class="mb-0 text-muted small">{{ post.user.headline }}</p>
                  <!-- <p class="mb-0 text-muted small">{{moment(post.date).fromNow()}}</p> -->
                </div>
              </div>
              <p class="mb-0">{{ post.description }}</p>
            </div>
            <div class="post-images">
              <img *ngFor="let image of post.images" [src]="image" alt="" />
            </div>
            <div class="card-body text-muted">
              <a href="" *ngIf="post.likes"
                ><i class="fa fa-thumbs-up text-primary"></i>
                {{ post.likes }}</a
              >
              <span *ngIf="post.likes && post.comments.length > 0" class="mx-2"
                >&bull;</span
              >
              <a href="" *ngIf="post.comments.length > 0"
                >{{ post.comments.length }} Comments</a
              >
              <hr />
              <a href="" class="mr-3"><i class="far fa-thumbs-up"></i> Like</a>
              <a href="" class="mr-3"
                ><i class="far fa-comment-alt"></i> Comment</a
              >
              <a href="" class="mr-3"><i class="fa fa-share"></i> Share</a>
              <div class="d-flex mt-2 align-items-center">
                <img
                  src="https://via.placeholder.com/45"
                  alt=""
                  class="rounded-circle d-block mr-2"
                />
                <form [formGroup] class="my-2 my-lg-0 mr-auto flex-fill">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Add a Comment..."
                      aria-label="Comment"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-info my-2 my-sm-0" type="submit">
                        <i class="fa fa-camera"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card">
            <div class="card-body">
              <p>Add to your feed</p>
              <div class="d-flex mb-2 align-items-center">
                <img
                  src="https://via.placeholder.com/60"
                  class="rounded-circle mr-2"
                  alt=""
                />
                <div>
                  <p class="mb-0">Valeo</p>
                  <p class="mb-0 text-muted small">679,771 followers</p>
                  <p class="mb-0 text-muted small">1mo</p>
                </div>
                <button class="btn btn-outline-info ml-auto">
                  <i class="fa fa-plus"></i> Follow
                </button>
              </div>
              <div class="d-flex mb-2 align-items-center">
                <img
                  src="https://via.placeholder.com/60"
                  class="rounded-circle mr-2"
                  alt=""
                />
                <div>
                  <p class="mb-0">Valeo</p>
                  <p class="mb-0 text-muted small">679,771 followers</p>
                  <p class="mb-0 text-muted small">1mo</p>
                </div>
                <button class="btn btn-outline-info ml-auto">
                  <i class="fa fa-plus"></i> Follow
                </button>
              </div>
              <div class="d-flex mb-2 align-items-center">
                <img
                  src="https://via.placeholder.com/60"
                  class="rounded-circle mr-2"
                  alt=""
                />
                <div>
                  <p class="mb-0">Valeo</p>
                  <p class="mb-0 text-muted small">679,771 followers</p>
                  <p class="mb-0 text-muted small">1mo</p>
                </div>
                <button class="btn btn-outline-info ml-auto">
                  <i class="fa fa-plus"></i> Follow
                </button>
              </div>
              <a href="" class="text-info">View all recommendations</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
