<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="cover-bg h-auto text-center"
          style="background: url(Cover.PNG) no-repeat top;background-size: 135%;">
          <img [src]="user.image" class="card-img-top mt-4 rounded-circle w-25" alt="..." />
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{ user.headline }}</p>
        </div>
        <hr />
        <div class="card-body">
          <a href="#" class="d-flex justify-content-between">Who viewed your profile <span
              class="text-info">25</span></a>
          <a href="#" class="d-flex justify-content-between">Views of your post <span class="text-info">39</span></a>
        </div>
        <hr />
        <div class="card-body">
          <a href="#" class="card-link"><i class="far fa-bookmark"></i> Saved Items</a>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-7">
          <div class="card">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item flex-fill btn text-left rounded-0 text-secondary btn-link"
                (click)="formOpened = true">
                <i class="far fa-edit"></i> Start a post
              </li>
              <li class="list-group-item btn rounded-0 text-secondary"
                (click)="formOpened = true; imageFormOpened = true">
                <i class="fa fa-camera"></i>
              </li>
              <li class="list-group-item btn rounded-0 text-secondary" (click)="formOpened = true">
                <i class="fa fa-video"></i>
              </li>
              <li class="list-group-item btn rounded-0 text-secondary" (click)="formOpened = true">
                <i class="fa fa-file"></i>
              </li>
            </ul>
            <div class="card-footer">
              <a href="#" class="text-info">Write an article</a> on LinkedIn
            </div>
          </div>
          <hr />
          <app-post-form *ngIf="formOpened" (closeForm)="closeModal()" [user]="user"
            [imageFormOpened]="imageFormOpened">
          </app-post-form>
          <app-post *ngFor="let post of posts" [post]="post"></app-post>

        </div>
        <div class="col-5">
          <div class="card">
            <div class="card-body">
              <p>Add to your feed</p>
              <div class="d-flex mb-2 align-items-center">
                <img src="https://via.placeholder.com/60" class="rounded-circle mr-2" alt="" />
                <div>
                  <p class="mb-0">Valeo</p>
                  <p class="mb-0 text-muted small">679,771 followers</p>
                  <p class="mb-0 text-muted small">1mo</p>
                </div>
                <button class="btn btn-outline-info ml-auto btn-sm">
                  <i class="fa fa-plus"></i> Follow
                </button>
              </div>
              <div class="d-flex mb-2 align-items-center">
                <img src="https://via.placeholder.com/60" class="rounded-circle mr-2" alt="" />
                <div>
                  <p class="mb-0">Valeo</p>
                  <p class="mb-0 text-muted small">679,771 followers</p>
                  <p class="mb-0 text-muted small">1mo</p>
                </div>
                <button class="btn btn-outline-info ml-auto btn-sm">
                  <i class="fa fa-plus"></i> Follow
                </button>
              </div>
              <div class="d-flex mb-2 align-items-center">
                <img src="https://via.placeholder.com/60" class="rounded-circle mr-2" alt="" />
                <div>
                  <p class="mb-0">Valeo</p>
                  <p class="mb-0 text-muted small">679,771 followers</p>
                  <p class="mb-0 text-muted small">1mo</p>
                </div>
                <button class="btn btn-outline-info ml-auto btn-sm">
                  <i class="fa fa-plus"></i> Follow
                </button>
              </div>
              <a href="" class="text-info">View all recommendations</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>