.mrgn {
  margin-right: 400px !important;
}

.img-w {
  width: 35px !important;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #469a1f;
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  border: solid 1px white;
}

.writemsg {
  width: 333px !important;
  height: 60px !important;
}
