<p>post-form works!</p>
<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit your photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="imageForm" (ngSubmit)="submitForm()">
                <div class="modal-body overflow-auto" style="max-height: 430px;">
                    <div class="form-group">
                        <input type="file" name="" id="" class="form-control-file" multiple
                            accept="image/png, image/jpeg" (change)="onFileChange($event)">
                    </div>
                    <span class="text-danger" *ngIf="files.length > 9">Please reduce the number of images you are
                        attaching to 9 or fewer and try again.</span>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let image of images; let i = index"
                                [ngClass]="{'active': activeSlide === i}">
                                <img [src]="image" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" role="button" data-slide="prev"
                            (click)="activeSlide = Math.max(activeSlide - 1, 0)">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" role="button" data-slide="next"
                            (click)="activeSlide = Math.min(activeSlide + 1, images.length - 1)">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" type="submit">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>

<app-confirmation *ngIf="confirmCloseOpened" message="discard changes to this" button="Discard"
    (closeModal)="confirmClose($event)">
</app-confirmation>