<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body text-center ">
          <h5 class="card-title">Notifications</h5>
          <p class="card-text">
            You’re all caught up! <br />
            back later for new notifications
          </p>
        </div>
        <div class="card-body  text-center bg-light border">
          <span href="#" class="card-text">
            Improve your notifications
          </span>
          <a href="#" class="card-link font-weight-bold text-primary"
            >View Setting</a
          >
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-7">
          <div class="card mb-3">
            <h5 class="ml-3">Recent</h5>
            <app-notification
              *ngFor="let notification of recent"
              [notification]="notification"
            ></app-notification>
          </div>
          <div class="card mb-3">
            <h5 class="ml-3">Earlier</h5>
            <app-notification
              *ngFor="let notification of notifications"
              [notification]="notification"
            ></app-notification>
          </div>
        </div>
        <div class="col-5">
          <div class="card">
            <div class="card-body">
              <p>Ad <i class="fas fa-ellipsis-h float-right"></i></p>

              <div class="mb-2 align-items-center d-flex flex-column">
                <div>
                  <img
                    src="../../../../assets/imgs/basant_profile_pic.jfif"
                    class="rounded-circle mr-2 circle-img"
                    alt=""
                  />
                  <img
                    src="../../../../assets/imgs/leen_pic.png"
                    class="rounded-circle mr-2 circle-img"
                    alt=""
                  />
                </div>
                <p class="m-2">
                  Basant, explore relevant opportunities with Lean Business
                  Services
                </p>
                <button class="btn btn-outline-info">
                  Follow
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-messaging></app-messaging>
  </div>
</div>
